@font-face {
  font-family: 'Bell MT';
  src: url('BellMT.woff') format('woff'),
       url('BellMT.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bell MT';
  src: url('BellMTItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bell MT';
  src: url('BellMTBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}